.game-container{
  
  width: 100%;
  margin-top: 100px;
  max-width: 750px;
  
}

.overlay-panel{

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-content: stretch;
}


#c {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}



#previewScreen{
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  z-index: 5;

}


#playButton{
  position: absolute; 
  width:100px;
  height:100px;
  top: 50%;
	left: 50%;  
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#audioButton{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  justify-content: flex-end;

}
#audioButton img{
  
  width: 80%;
  height: 80%;
}



#startScreen{
  z-index: 4;
  padding: 20px;

}



#startMenu{
  background-color : coral;
 
 
}

.sub-menu{

  position: absolute;
  
  
}
.sub-menu div{
  width: 100%;
}
#scoreBoard{

  background-color: white;
}

#loadingScreen{

  z-index: 3;

}

.progress {
  width: 50vw;
  border: 1px solid black;
}

#progressbar {
  width: 0;
  height: 1em;
  background-color: #888;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .5) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .5) 50%, 
    rgba(255, 255, 255, .5) 75%, 
    transparent 75%, 
    transparent
  );
  background-size: 50px 50px;

}

#messagesScreen{  
  z-index: 2;  
}

#messageContent{
  opacity: 0.0;
}

/**HUD CLASSES */
#ui {
  
  padding: 20px;
  z-index: 2;
  opacity: 0.0;
}

#controls>div {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
}


#left {
  justify-content: flex-end;
}
#right {
  justify-content: flex-start;
}
#controls img {
  padding: 10px;
  width: 80px;
  height: 80px;
  display: block;
}


#pauseScreen{
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;
  z-index: 3;
}

#pauseButton img{
  
  width: 100%;
  height: 100%;
}

#pauseButton{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  justify-content: flex-end;

}

.menu{

  max-width: 400px;
  max-height: 400px;
  margin: 20px;
  padding : 20px;
  border-radius: 10px;
}



#pauseMenu{
  background-color : midnightblue;

  
  
}

#gameOverScreen{
  
  opacity: 0.0;
}


#gameOverMenu{
  background-color: rgba(255, 255, 255, 0.5);  
  
}

#menuButton{
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 40px;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-weight: 900;
}

#playerStats{
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/**HEALTH BAR CLASSES*/

.health-box {
  background-color: #ccc;
  width: 80%;
  height: 25px;
  position: relative;
  border: solid 1px #aaa;
  border-radius: 50px;
}

.health-bar-filled {

  background-color: #007f00;
  width: 100%;
  height: 23px;
  position : absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.health-bar {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
  
  border-radius: 50px;
}


#score{

  max-width: 100px; 
  max-height: 50px; 
  background-color: white;
  border-radius: 50px;
  text-align : center;
}
/**END OF HUD CLASSES*/

