.form-container {

	display: table;
  	margin: 50px auto;
  	

}

.form{
	margin: 50px;
}

.form-row{
	text-align: center;
	padding-right: 0;
}

.description-area{



	width: 90%; margin : 0 0 20px 20px;
}

.submit-button{


	height: 100px;
}


mat-form-field{

	margin-right: 10px;
}

.mat-raised-button{

	font-size: 200%!important; 
	color: white;
	background-color: lightgreen;
}

.shakeit {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}