.form-container {

	display: table;
  	margin: 50px auto;
  	z-index : 1;

}

.form{
	margin: 50px;
}

.form-row{
	text-align: center;
	padding-right: 0;
}

.description-area{



	width: 90%; margin : 0 0 20px 20px;
}

.submit-button{


	height: 100px;
}


mat-form-field{

	margin-right: 10px;
}

.mat-raised-button{

	font-size: 200%!important; 
	color: white;
	background-color: lightgreen;
}

.feedback{

	position: absolute; 
	width: 100%;
	height: 100%;
	padding: 20px; 
	z-index: 0;
	color: indigo;
}

