  <mat-toolbar color="primary" [ngClass]="{'mat-elevation-z6' : true}">
     

      <span>Responsive Navigation</span>

      <span class="menu-spacer"></span>

      <button mat-icon-button (click)="openNav()" fxShow="true" fxHide.gt-sm class="toggle-button">
        <mat-icon>
          menu
        </mat-icon>

      </button>
    <div fxShow="true" fxHide.lt-md style="text-align: center;">
      

      <div style="text-align: center;">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <div *ngFor="let cat of categories" class="category">
				  <button mat-button class="dropbtn">{{cat.title}}</button>
  				
			  </div>
      </div>

    </div>
  </mat-toolbar>



<div #MobielOverlay class="overlay">
  <a  [routerLink]="" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <a routerLink=""  [@messageAnimation]="hidden? 'hidden' : 'visible'"  >Contact</a>

    <a routerLink=""  *ngFor="let cat of categories" [@messageAnimation]="hidden? 'hidden' : 'visible'"   >{{cat.title}}</a>
  </div>
</div>


  <!-- OLD SIDENAV
  <mat-sidenav-container fxShow="true" fxHide.gt-sm fxFlexFill  class="example-sidenav-container">
    <mat-sidenav #sidenav [mode]="side">
      <div style="height:200px;background-color: indigo;"></div>

      <mat-nav-list>

        <a (click)="closeNav()" href="" mat-list-item>Close</a>
        <a *ngFor="let cat of categories" href="#" mat-list-item>{{cat.title}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-highlights-carousel >
        
        </app-highlights-carousel>
        

    </mat-sidenav-content>
    
      
       

  </mat-sidenav-container> 
  -->