<mat-toolbar   >
  	
</mat-toolbar>
<mat-toolbar class="custom-toolbar" color = "primary" [class.mat-elevation-z7]="true">
  	
   <mat-toolbar-row id="title-row" >
   		<span > Shop example</span>
	</mat-toolbar-row>


   <mat-toolbar-row>
   	
  	<span class="spacer"></span>
  	<a class="button" ><mat-icon aria-hidden="false" aria-label="Example heart icon">search</mat-icon></a>
    <a class="button"><mat-icon aria-hidden="false" aria-label="Example delete icon">shopping_cart</mat-icon></a>

   </mat-toolbar-row>


	

</mat-toolbar>


