.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav{
    width: 20vh!important;
    z-index: 10!important;

}
mat-nav-list{
    padding-top: 200px;
}


.example-menu{

    flex : 0 1 auto;

}

.mat-toolbar{
    position: fixed!important;
    text-align: center!important;
    z-index: 1000!important;
}



.toggle-button{

    background-color: inherit;

}


/*Drop down menu classes*/
.category {
    float: left;
    overflow: hidden;
  	text-align: center;
  	padding: 0 50px;
}


/*OVERRIDES ANGULAR COMPONENT*/
.category .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font: inherit;
}

.category:hover .dropbtn {
    background-color: #ccc;
}


.custom-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}





