.menu-spacer {
  flex: 1 1 auto;
}


mat-nav-list{
    padding-top: 200px;
}


.mat-toolbar{
    position: fixed!important;
    text-align: center!important;
    z-index: 1000!important;
}



.toggle-button{

    background-color: inherit;
    float: right;

}


/*Drop down menu classes*/
.category {
    float: left;
    overflow: hidden;
  	text-align: center;
  	padding: 0 50px;
}


/*OVERRIDES ANGULAR COMPONENT*/
.category .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font: inherit;
}

.category:hover .dropbtn {
    background-color: #ccc;
}


.custom-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*OVERLAY CLASSES*/
/* Overlay style */
.overlay {
    z-index: 1001!important;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}