.spacer {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.icon{

	  padding: 0 14px;

}

.custom-toolbar{

	height : 150px;
}

#title-row{
	padding: 15px 35%;
  	align-items: center;
	font-size: 50px;

}