
.service-highlight {
  width: 70%;
  height: 35%;
  padding: 20px;
  border-radius: 10px;
}



.ParallaxContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px; 
    left: 0px;
    padding: 100px 0px 100px 0px;
    z-index: 0;
    background-color: pink;
    
}

.ParallaxContainer2{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px; 
    left: 0px;
    padding-bottom:  300px ;
    box-shadow: 0px -4px 10px;

	  background-color: rgba(0,179,179,1);
	 
}

.ParallaxContainer3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding-bottom: 200px;
    top: 0px; 
    left: 0px;
    box-shadow: 0px -4px 10px;
    background-color: white
   
}


.MainContainer{

  
	padding-top: 50px;
	z-index: 9;
  box-shadow: 0px -4px 10px;

}




.non-mobile-card{

	min-width: 250px;
	min-height: 300px;
	max-width: 300px;
	margin: 10px;
	align-items: center;

}

.custom-card-content{

  text-align: center;

}

#detailsBtn{

  width: 200px;
  height: 100px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 50px;
  
}

.custom-card-header{

  min-height: 55px;
}


.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 150px;
	border-radius : 50%;
	background-color: rgba(255,255,255,1);
	padding: 10px;

}


.technologies-container{
	padding-bottom: 100px;



}

.contact-container{

	background-color: rgba(255,255,51,1);
	padding: 0px 50px 50px 50px;
  z-index: 10;
}	

.contact-form{
   min-height: 150px;
   min-width: 300px;
   margin: -5px 0px 0px 0px;
   border-radius: 10px;
   background-color: rgba(230,150,50,1);
   box-shadow: -10px 15px 25px #888888;
   padding: 10px;

}

.contact-button {

  min-width: 150px;
  min-height: 75px;
  margin: 20px;
  background-color: white;


}

.contact-button:hover{

  background-color: rgba(230,150,50,0.7);
  border-width: 5px;
  border-color: rgba(230,150,50,0);
  -webkit-transition: background-color 200ms ease-out, border-width  500ms ease-out;
  -moz-transition: background-color 200ms ease-out , border-width  500ms ease-out;
  -o-transition: background-color 200ms ease-out , border-width  500ms ease-out;
  transition: background-color 200ms ease-out , border-width  500ms ease-out;
}


/**
	SWIPER CLASSESS
*/
.content-container {
  position: relative;

  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: rgb(1,1,1);
  overflow: auto;
  height: 200px;
  min-height: 0;
  background-color: rgba(1,1,1,0.8);
  margin: 10px;

}

.swiper-container {
	padding: 10px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
}

.swiper-slide-active {
  color: #fff;
 
}
