
.Content {
  margin: 0 auto;
  padding: 20px;
}



.ParallaxContainer{
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px; 
    left: 0px;
    padding: 50px;
    height: 50vh;


    background-color: pink;
    
}

.MainContainer{


	padding-top: 50px;
}



mat-card{

	min-width: 250px;
	max-width: 300px;
	min-height: 350px;
	margin: 10px;
	align-items: center;
	background-color: midnightblue;

}

mat-card-header{


}


.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 150px;
	border-radius : 50%;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;

}

.Technologies-Container{
	background-color: rgba(0,179,179,0.7);


}