
.Content {
  margin: 0 auto;
  padding: 20px;
}



.ParallaxContainer{
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px; 
    left: 0px;
    padding: 50px;
    height: 50vh;


    background-color: pink;
    
}

.MainContainer{


	padding-top: 50px;
}



mat-card{

	min-width: 250px;
	max-width: 300px;
	min-height: 350px;
	margin: 10px;
	align-items: center;

}

mat-card-header{


}


.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 150px;
	border-radius : 50%;
	background-color: rgba(255,255,255,1);
	padding: 10px;

}


svg-icon:hover{
	webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}
.Technologies-Container{
	background-color: rgba(0,179,179,0.7);


}