<div fxLayout="column" fxFlexFill style="background-color:rgba(0,179,179,1)" >

	<div fxFlexFill appParallax [ratio]="-0.6" fxLayout="column" class="ParallaxContainer">
	  	<span class="mat-h1 title" style="text-align: center;">Let us help you in your journey</span>
		<p class="mat-h2">services works!</p>
	    
	</div>
	<div fxFlexFill appParallax [ratio]="-0.3" fxLayout="column" class="ParallaxContainer2">

	  	<!--SERVICES  DESCRIPTION SECTION-->
		<div fxLayout="column" fxLayoutAlign="center"  >
	  	  	<span class="mat-h1">Services</span>

	  	</div>
	  	<div fxLayout.gt-sm="row" fxLayoutGap="20px">
	  			    
		    <div class="service-highlight" [class.mat-elevation-z4]="true" style="background-color: lightblue">
		      <span class="mat-h2">Web development</span>
		      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus PageMaker me nā papa o Lorem Ipsum.
		      </p>
		     
		    </div>
		    <div class="service-highlight" [class.mat-elevation-z4]="true" style="background-color: lightgreen">
		      <span class="mat-h2">Game development</span>
		      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus PageMaker me nā papa o Lorem Ipsum.
		      </p>
		     
		    </div>		
	  	</div>


	</div>
	<div fxLayout="column  wrap" class="MainContainer" style="background-color: white" [class.mat-elevation-z8]="true">


	  	<!--TECHNOLOGIES SECTION-->
	  	<div fxLayout="column" fxLayoutAlign="center" class="technologies-container">
		  	<div fxLayout="row" fxLayoutAlign="center"  style="padding: 50px">
		  	  	<span class="mat-h1" style="text-align: center;">The technologies we use</span>

		  	</div>
			  	<!--Technologies swiper ONLY ON MOBILE-->
			<div fxFlexFill fxShow.gt-md="false" fxShow="true"	>
	  	
			  	<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
			        <swiper class="swiper-container" 
			        		fxFlex="auto"

			        		[disabled]="false" 
			        		[index]="0"
			        		[config]="config"  
			        		(indexChange)="onIndexChange($event)" 
			        		(swiperTransitionStart)="onSwiperEvent('transitionStart')" 
			        		(swiperTransitionEnd)="onSwiperEvent('transitionEnd')"
			        		#swiperContainer >
			          	<div   *ngFor="let technology of technologies; let i=index" class="swiper-slide" >
			            	<div fxFlexFill fxLayout="column" >
			              		<mat-card 	 fxFlexFill 
			              					[@onHover]="swiperStates[i] ? 'transitionStart' : 'transitionEnd'" 
			              					(click)="onCardClick(i)"
			              					fxLayoutAlign="center start" 
			              					class="swiper-mat-card"
			              					>
			              			<mat-card-header  fxLayout="column" fxLayoutAlign="center">
					  					<svg-icon 
					  						
				  							src={{technology.source}} [svgStyle]="{ 'width.px':technology.logo_width }" ></svg-icon>
				  					</mat-card-header>
			              			
			              		</mat-card>
			            	</div>
			          	</div>
			        </swiper>

			       
	      		</div>
	      	</div>	
	      		<!--Technologies grid ONLY ON LARGE VIEWPORT-->
	      	<div fxShow.gt-md="true" fxShow="false">
			  	<div  fxLayout="row"  fxLayoutAlign="center" style="margin: 0 auto; padding: 20px 20px 0 20px;">
			  			
				  		<mat-card 
							*ngFor="let technology of technologies.slice(0,3); let i=index "
			  				fxLayout="column"
			  				(mouseover)="states[i] = true" 
			  				(mouseout)="states[i]= false"
			  				[@onHover]="states[i] ? 'up' : 'stable'" 
			  				class="non-mobile-card">
				  			
				  			<mat-card-header  fxLayout="column" class="logo">
				  					<svg-icon 
				  							style="display: inline-block"
				  							src={{technology.source}} [svgStyle]="{ 'width.px':technology.logo_width }" ></svg-icon>
				  					
				  			</mat-card-header>
				  			

				  		</mat-card>
				</div>

			  	<div fxLayout="row" fxLayoutAlign="center" style="margin: 0 auto; padding: 0px 20px 20px 20px;">

				  		<mat-card 
							*ngFor="let technology of technologies.slice(3, technologies.length); let k=index "
			  				fxLayout="column"
			  				(mouseover)="states[k+3] = true" 
			  				(mouseout)="states[k+3]= false"
			  				[@onHover]="states[k+3] ? 'up' : 'stable'"
			  				class="non-mobile-card">
				  			
				  			<mat-card-header fxLayout="column" class="logo">
				  					<svg-icon  src={{technology.source}} [svgStyle]="{ 'width.px':technology.logo_width }" ></svg-icon>
				  				
				  				
				  			</mat-card-header>
				  			

				  		</mat-card>
				</div>
			</div>
		</div>

		<!--CONTACT HIGHLIGHT-->

		<div (mouseenter)="onMouseOver()" fxLayout="column" class="contact-container">

			<div   fxLayout="row wrap"   class="contact-form" >
				<div fxLayout="column"  fxLayoutAlign="start start" >
					<span fxLayout class="mat-h1" style ="">Contact us</span>
					<p fxLayout="row" class="mat-h2">frkjnfrjknfkjrn
					frkjnfrjknfkjrn frkjnfrjknfkjrn  frkjnfrjknfkjrn</p>

				</div>
				<div fxFlexFill  fxLayout="column wrap"  fxLayoutAlign="end end">
					<a *ngIf="!mobile" routerLink="/contact">
						<button mat-stroked-button
								class="contact-button"
								[@floater]="contactFormState" (@floater.done)="onEnd($event)"
								>
							<span class="">Get a quote</span>
						</button>
					</a>

					
					<button *ngIf="mobile" mat-stroked-button
							class="contact-button"
							[@floater]="contactFormState" (@floater.done)="onEnd($event)"
							(click)="openContactSheet()">
						<span class="">Get a quote</span>
					</button>

				</div>
			</div>
		</div>



	  	
	    
	</div>

	
</div>
<app-footer></app-footer>


