
.Content {
  margin: 0 auto;
  padding: 20px;
}

mat-card{

	min-width: 150px;
	min-height: 350px;
	margin: 10px;

}

.ParallaxContainer{
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px; 
    left: 0px;
    padding: 50px;


    background-color: pink;
    
}

.MainContainer{


	padding-top: 50px;
}




.logo-1{
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  	background-size: cover;
}