.flex {
  display: flex;
  
}
.card-deck-container{  
	overflow-x: scroll;
    padding: 20px ;
 	display: flex;
  	margin-left: auto;
 	margin-right: auto;
 	align-items: center;
}
.card-deck-container::-webkit-scrollbar {    color: indigo;}

.custom-card {
  
  text-align: center;
  margin: 10px;
  padding: 10px;
  
}
.card-image-preview{

  border-radius: 50%;
  width: 90%;
	
}


