
.custom-card {
  
  text-align: center;



}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
 
}


.card-image-preview{

  border-radius: 50%;
  width: 90%;
	
}