<div class="flex">	
	<div fxLayoutGap="60px"  class="card-deck-container">
		<mat-card 
		*ngFor="let service of services; let i= index" 
		 
		[@openClose]="states[i] ? 'stable' : 'up'" 
		(mouseover)=toggle(i) 
		(mouseout)=toggle(i) 
		(click)="scroll(i)"  
		[class.mat-elevation-z4]="true" 
		class="custom-card">
			<mat-card-header class="card-custom-header">
				<mat-card-title><h5>{{service.title}}</h5></mat-card-title>
			</mat-card-header>
			<img mat-card-image class="card-image-preview" [src]="service.url" alt="Service preview image">

		</mat-card>


	</div>
	

</div>

	<div #myElem *ngFor="let service of services; let i=index">
			<app-product-highlight  [containerIndex]="i"></app-product-highlight>

	

	</div>
	<!--
	<app-product-highlight  [containerIndex]="0"></app-product-highlight>
	<app-product-highlight  [containerIndex]="1"></app-product-highlight>
	<app-product-highlight  [containerIndex]="2"></app-product-highlight>-->