
ngb-carousel{
  height: 100%;
  width: 100%;

}


ngb-carousel .picsum-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  width: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel-caption{
  bottom: unset;
  text-align: center;
  color : black;
}


.carousel-inner {
    overflow: visible;
}

.carousel-item {
  text-align: center;
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: 0;
}

.carousel-control-prev {
     z-index: 1;
}


.carousel-control-next {
     z-index: 1;
}

.carousel-indicators{
    top: 25%;
    z-index: 1;
}

/*

a[class^="carousel-control"] {
  background: #ffff00;
}

.carousel-item {
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition:all  0.2s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible ;
  opacity: 1;
}*/