
  ngb-carousel{


    align-items: center!important;  


  }


  ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }

  ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  
   .carousel-item
  {
    display:block;
  }
  .carousel-caption
  {
    display:block;
    top: 20%;
    bottom: 50%;
  }
  .picsum-img-wrapper img
  {
    width:100%
  }