.custom-carouesl-container{

  width: 100%;
  height: 100%;  
}
ngb-carousel {
    width: inherit;
    height: inherit;
}


ngb-carousel .picsum-img-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
  padding-top: 40%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ngb-carousel .carousel-caption {
    padding-bottom: 20%;
    color: black;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: 0;
}

.carousel-control-prev {
     z-index: 1;
}


.carousel-control-next {
     z-index: 1;
}

.carousel-indicators{
    z-index: 1;
}

/*

a[class^="carousel-control"] {
  background: #ffff00;
}

.carousel-item {
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: translateX(100%);
  opacity: 0;
  transition:all  0.2s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible ;
  opacity: 1;
}*/