.form-container {

	display: table;
  	margin: 0 auto;
  	z-index : 1;

}

.form{
	margin: 50px;
}

.form-row{
	text-align: center;
	padding-right: 0;
}

.description-area{



	width: 90%; margin : 0 0 20px 20px;
}

.submit-button{

	height: 100px;
    color: white;
    background-color: lightgreen;
}


mat-form-field{

	margin-right: 10px;
}


